{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "react-app"
  ],
  "plugins": [
    "html",
    "react",
    "markdown",
    "react-hooks"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "globals": {
    "Promise": false
  },
  "rules": {
    "no-console": "off",
    "no-constant-condition": "off",
    "react/prop-types": "off"
  },
  "settings": {
    "react": {
      "version": "17.0"
    }
  }
}