@import '../../assets/sass/variables/_devVariables';
@import '../../assets/sass/_main';

.ol-control button {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  color: #fff;
  font-size: 1.4em;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  height: 40px;
  width: 41px;
  line-height: .4em;
  background-color: $color-toggle-on;
  opacity: 0.7;
  border: none;
  border-radius: 2px;
  &:hover {
    background-color: $color-toggle-on;
  }
}

.ol-control button:focus {
  outline: transparent;
}

.ol-zoom {
  top: 12px;
  left: auto;
  right: 16px;
  padding: 0;
}

.ol-noembed {
  bottom: 10px;
  left: auto;
  right: 16px;
  top: auto;
  z-index: 12;
}

.ol-geolocation {
  bottom: auto;
  left: auto;
  right: 16px;
  top: 100px;
  z-index: 13;
}

.ol-control button:hover {
  opacity: 0.9;
  color: white;
}

.ol-control {
  position: absolute;
  background: none;
  border-radius: 4px;
  padding: 2px;
}

.ol-scale-line {
  bottom: 5px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.ol-scale-line {
  background: white;
  opacity: .6;
  border-radius: 0;
  .ol-scale-line-inner {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 0px 2px 2px 2px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 0;
    text-align: center;
  }
}
.panel-title {
  a:hover {
    color: #333;
  }
}
.layers-container {
  transition: .3s all ease-in-out;
  position: absolute;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  z-index: 2;
  overflow: hidden;
  margin-top: 20px;
  border-left-color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  > div {
    clear: both;
  }
  &.open-layers {
    width: 300px;
    height: 100%;
    > div {
      margin: 20px;
    }
    
  }
  &.closed-layers {
    width: 80px;
    height: 80px;
  }
  .toggle-btn {
    font-size: 2.5em;
    margin: 20px;
    float: right;
    color: $color-toggle-on;

  }

}
