:local(.legend) {
    position: relative;
    max-height: 1000px;
    display: block;
    overflow: hidden;
    transition: all .3s ease-in-out;
    &:local(.closed) {
        max-height: 0;
        margin-bottom: 2px;
        padding: 0;
    }
}
:local(.toggle) {
  font-size: 0.9em;
  &:hover {
    cursor: pointer;
  }
}
:local(.label) {
    width: 147px;
}
