//Blå
$blaa_hoved: #1A589F;
$blaa_lysBakgrunn: #E4F1F8;
$blaa_moerk: #175092;

//Grønn
$groenn_hoved: #249446;
$groenn_moerk: #18632E;
$groenn_lys: #D0ECD6;
$groenn_xlys: #E9F4EC;

//Grå
$graa_hoved: #595959;
$graa_lys: #f7f7f7;
$graa_moerk: #545454;

//Rød
$advarsel-hoved: #B00C3B;
$advarse-lys: #FCF1E8;

//Oransje
$oransje_hoved: #E7751D;
$oransje_lys: #FCF1E8;

//Gul
$gul_hoved: #F0B323;

//Grid
$grid-xs: 4px;
$grid-s: 8px;
$grid-m: 16px;
$grid-l: 24px;
$grid-xml: 32px;


//Annet
$border-radius: 20px; //For knapper med avrundede hjørner
$skygge: 0 2px 4px 0 rgba(0, 0, 0, 0.5);