@import "_variables";
@import "buttons";
@import "styles";

body {
  margin: auto;
  max-width: 820px;
}

nav {
  background-color: $blaa_hoved;
  padding: 1em;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  
  & a {
    color:white;
  }
}

.current {
  font-weight: bold;
}

figure {
  margin: .85em 0;
}

img {
  border: 1px solid darkgrey;
  width: fit-content;
  padding: .3em;
}

figcaption {
  font-size: .85em;
}

table {
  border-collapse: collapse;

  & caption {
    font-weight: bold;
    color: $blaa_hoved;
  }
}

th, td {
  padding: .5em;
  border-bottom: 1px solid $graa_hoved;
}